* {
  box-sizing: border-box;
}

body {
  font: 16px/24px sans-serif;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4rem;
  margin-left: -4rem;
  width: 12rem;
  height: 8rem;
  text-align: center;
}

button {
  display: block;
  width: 100%;
  line-height: 2rem;
  background: #005AE2;
  border-radius: 4px;
  border: none;
  color: #eee;
  text-transform: uppercase;
  transition: all .2s linear;
  font-size: 14px;
}

button:hover {
  background: #0048B4;
}

span {
  line-height: 2rem;
  transition: all .2s linear;
  color: #aaa;
}

span.subscribing {
  color: #000;
}
